@model Connecto.BusinessObjects.Supplier
@{
    ViewBag.Title = "Suppliers";
}
<div ng-app="hrApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/hr/supplierController.js"></script>
<script type="text/javascript">
    $('#menu-hr').syncMenu([{ name: "supplier", option: "a" }]);
    hrApp.config(['$routeProvider',
    function ($routeProvider) {
        $routeProvider.
             when('/', { templateUrl: '/Supplier/List', controller: 'SupplierListCtrl' })
            .when('/People/', { templateUrl: '/Supplier/People', controller: 'SupplierPeopleCtrl' })
            .otherwise({ redirectTo: '/' });
    }]);
</script>