@{ Layout = null; }
<div ng-controller="ProductDetailCtrl">
    Product is {{product.Name}}
</div>

<script type="text/javascript">
    $(function () {
        $('#menu-prod-main').syncMenu([{ name: "products", option: "o", }], { title: 'Products', link: '/Products' });
    });
</script>