@{ Layout = null; }
<div ng-controller="EditCtrl">
    <div class="page-header">
        <h1>Edit Measure </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label no-padding-top"> Volume </label>
                            <div class="col-sm-3">
                                <input ng-model="measure.Volume" type="text" id="form-field-6" placeholder="Volume">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-top"> Lower </label>
                            <div class="col-sm-3">
                                <input ng-model="measure.Lower" type="text" id="form-field-6" placeholder="Lower">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Actual </label>
                    <div class="col-sm-9">
                        <input ng-model="measure.Actual" type="text" id="form-field-6" placeholder="Actual">
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" ng-click="edit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#menu-csettings-main').syncMenu([{ name: "measure", option: "o", }], { title: 'Measures', link: '/Measure' });
    });
</script>