@model Connecto.BusinessObjects.Measure
@{
    ViewBag.Title = "Measure";
}
<div ng-app="cSettingApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/csettings/measureController.js"></script>
<script type="text/javascript">
    $('#menu-csettings-main').syncMenu([{ name: "measures", option: "a" }]);
    cSettingApp.config(['$routeProvider',
    function ($routeProvider) {
        $routeProvider.
             when('/', { templateUrl: '/Measure/List', controller: 'MeasureListCtrl' })
            .when('/Create/', { templateUrl: '/Measure/Create', controller: 'MeasureNewCtrl' })
            .when('/Edit/:itemId', { templateUrl: '/Measure/Edit', controller: 'MeasureEditCtrl' })
            .otherwise({ redirectTo: '/' });
    }]);
</script>