@model Connecto.BusinessObjects.Measure
@{
    ViewBag.Title = "Products";
}
<div ng-app="cSettingApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/csettings/app.js"></script>
<script src="~/Scripts/connecto/csettings/measureController.js"></script>
<script type="text/javascript">
    $('#menu-measure-main').syncMenu([{ name: "measures", option: "a" }]);
</script>