@{ Layout = null; }
<div ng-controller="CartOutCtrl">
    <form class="form-horizontal" role="form">
        <div class="page-header row">
            <div class="col-sm-2 no-padding-left"><h1>NEW CART </h1></div>
            <div class="col-sm-8">
                <select ng-model="item.OrderId" ng-change="filterOrder(item.OrderId)" id="order" class="select2" data-placeholder="New Invoice">
                    <option></option>
                    <option ng-repeat="e in orders" value="{{e}}">{{e}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-sm-7">
                        
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Selling Price </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue smaller">
                                        {{item.SellingPrice}}
                                        <select ng-show="itemz.length > 1" ng-model="item.PrductDetailId" ng-change="filterProductSelection(item.PrductDetailId)" class="select2" id="productDetail" data-placeholder="Select Details">
                                            <option ng-repeat="e in itemz" value="{{e.ProductDetailId}}">{{e.CreatedOnText}}, {{e.StockInHand.Quantity}} {{e.StockAs}}s</option>
                                        </select>
                                        
                                    </h4>
                                    
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Total Stock In Hand </div>
                                <div class="profile-info-value">
                                    <h4 ng-if="item.StockInHand" class=" widget-title blue smaller">
                                        <span ng-if="item.StockInHand.Quantity > 0">{{item.StockInHand.Quantity}} {{item.StockAs}}s</span>
                                        <span>
                                            <span ng-if="item.StockInHand.QuantityActual > 0">{{item.StockInHand.QuantityActual}} {{item.Measure.Actual}}s</span>
                                            <span ng-if="item.StockInHand.QuantityLower > 0">{{item.StockInHand.QuantityLower}} {{item.Measure.Lower}}</span>
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="infobox infobox-orange2">
                                    <div class="infobox-data">
                                        <input ng-model="item.ProductCode" ng-blur="filterProduct()" class="input-sm" type="text" placeholder="Product Code">
                                        <div class="infobox-content">Product Code</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="col-sm-3" ng-if="item.StockInHand.Quantity > 0">
                                <div class="row form-group">
                                    <div class="infobox infobox-green width-auto">
                                        <div class="infobox-data no-padding-right">
                                            <input ng-model="item.Quantity" ng-blur="calculatePrice()" class="input-mini" type="text">
                                            <div class="infobox-content">{{item.StockAs}}s</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row form-group">

                                    <div class="col-sm-8" ng-if="item.SellingLower">
                                        <div class=" form-group" ng-if="item.Measure.Actual">
                                            <div class="col-sm-5 no-padding-left">
                                                <div ng-if="item.Measure" class="infobox infobox-orange2 width-auto">
                                                    <div class="infobox-data width-auto">
                                                        <span class="infobox-data-number"><input ng-model="item.QuantityActual" ng-blur="calculatePrice()" class="input-mini" type="text" placeholder=""></span>
                                                        <div class="infobox-content">{{item.Measure.Actual}}s</div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3" ng-if="item.Measure.Lower != item.Measure.Actual">
                                                <div class="infobox infobox-orange2 width-auto">
                                                    <div class="infobox-data width-auto">
                                                        <span class="infobox-data-number"><input ng-model="item.QuantityLower" ng-blur="calculatePrice()" class="input-mini" type="text" placeholder=""></span>
                                                        <div class="infobox-content">{{item.Measure.Lower}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>

                        <div class="col-sm-11">
                            <div class="col-sm-4">
                                <div class="row form-group">
                                    <div class="control-label align-left btn-group">
                                        <button class="btn btn-sm btn-white">Discount By</button>
                                        <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle">
                                            <i class="ace-icon fa fa-angle-down icon-only"></i>
                                        </button>
                                        <span class="label label-success arrowed">{{DiscountBy}}</span>
                                        <ul class="dropdown-menu dropdown-yellow">
                                            <li><a ng-click="setDiscount('Rate')">Rate</a></li>
                                            <li><a ng-click="setDiscount('Amount')">Amount</a></li>
                                            <li class="divider"></li>
                                            <li><a ng-click="setDiscount('')">None</a></li>
                                        </ul>
                                    </div>
                                    <input ng-if="DiscountBy" ng-blur="calculateDiscount()" ng-model="item.DiscountAs" class="input-sm" type="text">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <table id="simple-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Toal</th>
                                            <th>Discount</th>
                                            <th>Net Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>{{item.Price}}</td>
                                            <td><span ng-if="item.Discount">{{item.Discount}}</span> </td>
                                            <td>{{item.NetPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="space-6"></div>
                        <div class="col-sm-12 align-right">
                            <div class="col-md-offset-3 col-sm-8">
                                <button class="btn btn-app btn-yellow btn-xs" type="button" ng-click="add()">
                                    <i class="ace-icon fa fa-shopping-cart bigger-160"></i>
                                    Sell
                                </button>
                            </div>
                        </div>
                    </div><!-- /.col -->

                    <div class="col-sm-5">
                        <span>Invoice # {{item.OrderId}}</span>
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th class="hidden-480">Net Price</th>
                                    <th>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-print bigger-120" ng-click="print()"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger" ng-click="complete()">
                                                <i class="ace-icon fa fa-check bigger-120"></i>
                                            </button>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-print bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-check bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{item.ProductName}} - {{item.ProductCode}}</td>
                                    <td>{{item.DisplayQuantity}}</td>
                                    <td>{{item.Price}}</td>
                                    <td>{{item.DisplayDiscount}}</td>
                                    <td class="hidden-480">{{item.NetPrice}}</td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </button>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- /.row -->
                <div class="space"></div>
                <div class="hr hr-double hr-dotted hr18"></div>
            </div><!-- /.col -->
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('.select2').select2({ allowClear: true });
        $('#menu-tr').syncMenu([{ name: "cartOut", option: "a" }]);
    });
</script>