@{ Layout = null; }
<div ng-controller="CartOutCtrl">
    <form class="form-horizontal" role="form">
        <div class="page-header row">
            <div class="col-sm-2 no-padding-left">
                <h1>NEW CART </h1>
            </div>
            <div class="col-sm-2 no-padding-left">
                <div>
                    <ui-select ng-model="order.selected" on-select="filterOrder($select.selected.OrderId)" theme="select2" ng-disabled="disabled" style="width: 180px;" title="Choose an order">
                        <ui-select-match allow-clear="true" placeholder="Select an order">{{$select.selected.OrderId}}</ui-select-match>
                        <ui-select-choices repeat="e in orders | filter: {OrderId: $select.search}">
                            <div ng-bind-html="''+e.OrderId | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="''+e.Customer.Person.DisplayName"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-2 no-padding-left">
                <ui-select ng-model="customer.selected" theme="select2" ng-disabled="disabled" style="width: 180px;" title="Choose a customer">
                    <ui-select-match allow-clear="true" placeholder="Select a cutomer">{{$select.selected.Person.DisplayName}}</ui-select-match>
                    <ui-select-choices repeat="e in customers">
                        <div ng-bind-html="e.Person.DisplayName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-2 no-padding-left">
                <div class="input-group">
                    <div class="input-group">
                        <input ng-model="order.selected.OrderDateDisplay" id="date-timepicker1" type="text" class="form-control">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 no-padding-left">
                <div class="input-group">
                    <div class="input-group">
                        <input ng-model="order.selected.ReferenceCode" class="input-sm" type="text" placeholder="Reference Code">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-sm-7">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Stocks </div>
                                <div class="profile-info-value">
                                    <ui-select ng-model="productDetail.selected" on-select="filterProductSelection($select.selected.ProductDetailId)" theme="select2" ng-disabled="disabled" style="width: 300px;" title="Choose a version">
                                        <ui-select-match allow-clear="true" placeholder="Select a version">{{$select.selected.ReceivedInfo}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="e in itemz">
                                            <div ng-bind-html="e.ReceivedInfo | highlight: $select.search"></div>
                                            <small>
                                                price: {{e.UnitPrice}}
                                                selling: <span ng-bind-html="''+e.SellingPrice"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Selling Price </div>
                                <div class="profile-info-value">
                                    <span class="widget-title blue smaller">
                                        <input ng-show="item.StockInHand.QuantityActual >= 0" ng-model="item.SellingPrice" class="input-sm" type="text" placeholder="Selling price">
                                    </span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Total Stock In Hand </div>
                                <div class="profile-info-value">
                                    <h4 ng-if="item.StockInHand" class=" widget-title blue smaller">
                                        <span ng-if="item.StockInHand.Quantity > 0">{{item.StockInHand.Quantity}} {{item.StockAs}}s</span>
                                        <span>
                                            <span ng-if="item.StockInHand.QuantityActual > 0">{{item.StockInHand.QuantityActual}} {{item.Measure.Actual}}s</span>
                                            <span ng-if="item.StockInHand.QuantityLower > 0">{{item.StockInHand.QuantityLower}} {{item.Measure.Lower}}s</span>
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="infobox infobox-orange2">
                                    <div class="infobox-data">
                                        <input ng-model="item.ProductCode" ng-blur="filterProduct()" class="input-sm" type="text" placeholder="Product Code">
                                        <div class="infobox-content">Product Code</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="col-sm-3" ng-if="item.StockInHand.Quantity > 0">
                                <div class="row form-group">
                                    <div class="infobox infobox-green width-auto">
                                        <div class="infobox-data no-padding-right">
                                            <input ng-model="item.Quantity" type="number" min="0" max="100" ng-blur="calculatePrice()" class="input-mini">
                                            <div class="infobox-content">{{item.StockAs}}s</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row form-group">

                                    <div class="col-sm-8" ng-if="item.SellingLower">
                                        <div class=" form-group" ng-if="item.Measure.Actual">
                                            <div class="col-sm-5 no-padding-left">
                                                <div ng-if="item.Measure" class="infobox infobox-orange2 width-auto">
                                                    <div class="infobox-data width-auto">
                                                        <span class="infobox-data-number"><input ng-model="item.QuantityActual" ng-blur="calculatePrice()" class="input-mini" type="number" placeholder=""></span>
                                                        <div class="infobox-content">{{item.Measure.Actual}}s</div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3" ng-if="item.Measure.Lower != item.Measure.Actual">
                                                <div class="infobox infobox-orange2 width-auto">
                                                    <div class="infobox-data width-auto">
                                                        <span class="infobox-data-number"><input ng-model="item.QuantityLower" ng-blur="calculatePrice()" class="input-mini" type="number" placeholder=""></span>
                                                        <div class="infobox-content">{{item.Measure.Lower}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>

                        <div class="col-sm-11">
                            <div class="col-sm-4">
                                <div class="row form-group">
                                    <div class="control-label align-left btn-group">
                                        <button class="btn btn-sm btn-white">Discount By</button>
                                        <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle">
                                            <i class="ace-icon fa fa-angle-down icon-only"></i>
                                        </button>
                                        <span class="label label-success arrowed">{{DiscountBy}}</span>
                                        <ul class="dropdown-menu dropdown-yellow">
                                            <li><a ng-click="setDiscount('Rate')">Rate</a></li>
                                            <li><a ng-click="setDiscount('Amount')">Amount</a></li>
                                            <li class="divider"></li>
                                            <li><a ng-click="setDiscount('None')">None</a></li>
                                        </ul>
                                    </div>
                                    <input ng-hide="DiscountBy == 'None'" ng-blur="calculateDiscount()" ng-model="item.DiscountAs" class="input-sm" type="text">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <table id="simple-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Total</th>
                                            <th>Discount</th>
                                            <th>Net Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>{{item.Price}}</td>
                                            <td><span ng-if="item.Discount">{{item.Discount}}</span> </td>
                                            <td>{{item.NetPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="space-6"></div>
                        <div class="col-sm-12 align-right">
                            <div class="col-md-offset-3 col-sm-8">
                                <button class="btn btn-app btn-yellow btn-xs" type="button" ng-click="add()">
                                    <i class="ace-icon fa fa-shopping-cart bigger-160"></i>
                                    Sell
                                </button>
                            </div>
                        </div>
                    </div><!-- /.col -->

                    <div class="col-sm-5" ng-show="GrossNetPrice > 0">
                        <span>Invoice # {{item.OrderId}}</span>
                        <div class="profile-user-info profile-user-info-striped no-margin">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Amount </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue input-medium">
                                        {{GrossNetPrice}}
                                    </h4>
                                </div>
                                <div class="profile-info-name">Pay </div>
                                <div class="profile-info-value">
                                    <input ng-model="Paid" ng-blur="calculateBalance()" class="input-sm" type="text" placeholder="Paying Amount">
                                </div>
                            </div>
                        </div>
                        <div class="profile-user-info profile-user-info-striped no-margin">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Balance </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue input-medium">
                                        {{Balance}}
                                    </h4>
                                </div>
                                <div class="profile-info-name">+/- </div>
                                <div class="profile-info-value">
                                    <input ng-model="Fluctuation" ng-blur="calculateBalance()" class="input-sm" type="text" placeholder="Fluctuation Amount">
                                </div>
                            </div>
                        </div>
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Total</th>
                                    <th>{{GrossPrice}}</th>
                                    <th>{{GrossDiscount}}</th>
                                    <th>{{GrossNetPrice}}</th>
                                    <th>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-print bigger-120" ng-click="print()"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger" ng-click="complete()">
                                                <i class="ace-icon fa fa-check bigger-120"></i>
                                            </button>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-print bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-check bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th class="hidden-480">Net Price</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{item.ProductName}} - {{item.ProductCode}}</td>
                                    <td>{{item.DisplayQuantity}}</td>
                                    <td>{{item.Price}}</td>
                                    <td>{{item.DisplayDiscount}}</td>
                                    <td class="hidden-480">{{item.NetPrice}}</td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120" ng-click="edit(item)"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120" ng-click="delete(item.SalesDetailId)"></i>
                                            </button>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>


                    </div>
                </div><!-- /.row -->
                <div class="space"></div>
                <div class="hr hr-double hr-dotted hr18"></div>
            </div><!-- /.col -->
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#menu-tr').syncMenu([{ name: "cartOut", option: "a" }]);
    });
</script>