@model Connecto.App.Models.ReportCriteriaViewModel
@{
    ViewBag.Title = "Connecto - Reports";
}
<form id="form-edit-basic-info" class="form-horizontal" action="@Url.Action("Download")" method="POST">
    <p>
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Product Data</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="form-inline">
                        <input type="text" name="ProductId" class="input-small" placeholder="Product Id">
                        <input type="text" name="ProductName" class="input-medium" placeholder="Product Name">
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Download", Model)
    </p>
</form>
<script type="text/javascript">
    $('#menu-bi').syncMenu([{ name: "biProductData", option: "a" }]);
</script>
