@{
    ViewBag.Title = "Connecto - Reports";
}
<p>
    <a class="btn" href="@Url.Action("Download", new { id = "PDF" })">
        <i class="ace-icon fa fa-download align-top bigger-125"></i>
        PDF
    </a>

    <a class="btn btn-primary" href="@Url.Action("Download", new { id = "Excel" })">
        <i class="ace-icon fa fa-download align-top bigger-125"></i>
        Excel
    </a>

    <a class="btn btn-info" href="@Url.Action("Download", new { id = "Word" })">
        Word
        <i class="ace-icon fa fa-download  align-top bigger-125 icon-on-right"></i>
    </a>

    <a class="btn btn-danger" href="@Url.Action("Download", new { id = "Image" })">
        Image
        <i class="ace-icon fa fa-download  align-top bigger-125 icon-on-right"></i>
    </a>
    
    <button class="btn btn-app btn-light btn-xs">
        <i class="ace-icon fa fa-print bigger-160"></i>
        Print
    </button>
</p>
<script type="text/javascript">
    $('#menu-bi').syncMenu([{ name: "biDetails", option: "a" }]);
</script>