@{ Layout = null; }
<div ng-controller="ProductEditCtrl">

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Vendor </label>
                    <div class="col-sm-9">
                        <ui-select ng-model="vendor.selected" theme="select2" ng-disabled="disabled" style="width: 180px;">
                            <ui-select-match allow-clear="true" placeholder="Select a vendor">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="e in vendors | filter: {Name: $select.search}">
                                <div ng-bind-html="e.Name | highlight: $select.search"></div>
                                <small> {{e.Lower}} </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Product Type </label>
                    <div class="col-sm-9">
                        <ui-select ng-model="producttype.selected" theme="select2" on-select="filterProductType()" ng-disabled="disabled" style="width: 180px;">
                            <ui-select-match allow-clear="true" placeholder="Select a vendor">{{$select.selected.Type}}</ui-select-match>
                            <ui-select-choices repeat="e in productTypes | filter: {Type: $select.search}">
                                <div ng-bind-html="e.Type | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="hr hr-16 hr-dotted"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Name </label>
                    <div class="col-sm-9">
                        <input ng-model="item.Name" type="text" id="form-field-1" placeholder="Product Name" class="col-xs-10 col-sm-5">
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Re Order Level </label>
                    <div class="col-sm-9">
                        <input ng-model="item.Reorderlevel" type="text" id="form-field-6" placeholder="Re Order Level">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label no-padding-top"> Quantity </label>
                            <div class="col-sm-3">
                                <span class="label label-info arrowed-in-right arrowed">{{item.Quantity}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-top"> Stock In Hand </label>
                            <div class="col-sm-3">
                                <span class="label label-info arrowed-in-right arrowed">{{item.StockInHand}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="header smaller red">Common Settings</h3>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> </label>
                    <div class="col-sm-9">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="center">Setting</th>
                                    <th>Description</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input name="switch-field-1" ng-model="item.SellingDown" class="ace ace-switch ace-switch-2" checked type="checkbox">
                                            <span class="lbl" data-lbl="FIFO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LIFO"></span>
                                        </label>
                                    </td>
                                    <td>
                                        Manage Selling order, FIFO enables to sell old to latest order and then LIFO enables latest to old
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input name="switch-field-1" ng-model="item.SellingLower" ng-change="filterProductType()" class="ace ace-switch ace-switch-2" checked type="checkbox">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td>
                                        Manage Selling for lower measures, Ex: Product will be stored as Kg but allow selling grams
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input name="switch-field-1" ng-model="item.SellingMargin" class="ace ace-switch ace-switch-2" checked type="checkbox">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td>
                                        Manage Selling Price for lower measures, Enter unit price for selling lower
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group" ng-if="ContainsQtyDesc != undefined">
                    <label class="col-sm-3 control-label no-padding-top"> {{ContainsQtyDesc}} </label>
                    <div class="col-sm-9">
                        <input ng-model="item.ContainsQty" type="text" id="form-field-6" placeholder="Quantity">
                    </div>
                </div>
                <div class="form-group" ng-if="item.SellingMargin">
                    <label class="col-sm-3 control-label no-padding-top"> Margin Amount </label>
                    <div class="col-sm-9">
                        <input ng-model="item.MarginAmount" type="text" id="form-field-6" placeholder="Amount">
                    </div>

                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" ng-click="edit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#menu-csettings-main').syncMenu([{ name: "products", option: "a", }], { title: 'Products', link: '/Product' });
    });
</script>