@{ Layout = null; }
<div ng-controller="ProductEditCtrl">

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Vendor </label>
                    <div class="col-sm-9">
                        <select ng-model="item.VendorId" id="product-vendor" ng-options="e.VendorId as e.Name for e in vendors" class="select2" data-placeholder="Click to Choose..."></select>
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Product Type </label>
                    <div class="col-sm-9">
                        <select ng-model="item.ProductTypeId" id="product-type" ng-options="e.ProductTypeId as e.Type for e in productTypes" class="select2" data-placeholder="Click to Choose..."></select>
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="hr hr-16 hr-dotted"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Name </label>
                    <div class="col-sm-9">
                        <input ng-model="item.Name" type="text" id="form-field-1" placeholder="Product Name" class="col-xs-10 col-sm-5">
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Quantity </label>
                    <div class="col-sm-9">
                        <input ng-model="item.Quantity" type="text" id="form-field-6" placeholder="Quantity">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label no-padding-top"> Stock In Hand </label>
                            <div class="col-sm-3">
                                <input ng-model="item.StockInHand" type="text" id="form-field-6" placeholder="Stock In Hand">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-top"> Re Order Level </label>
                            <div class="col-sm-3">
                                <input ng-model="item.Reorderlevel" type="text" id="form-field-6" placeholder="Re Order Level">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" ng-click="edit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#menu-csettings-main').syncMenu([{ name: "products", option: "a", }], { title: 'Products', link: '/Product' });
    });
</script>