@model Connecto.App.Models.ReportCriteriaViewModel
<div>
    <!-- #section:plugins/date-time.daterangepicker -->
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-calendar bigger-110"></i>
        </span>
        <input class="form-control active" type="text" name="DateRange" id="id-date-range-picker-1">
    </div>
    <!-- /section:plugins/date-time.daterangepicker -->
</div>
