@model Connecto.App.Models.ReportCriteriaViewModel
<div>
    <div class="input-group">
        <input class="form-control date-picker" name="Date" id="id-date-picker-1" type="text" >
        <span class="input-group-addon">
            <i class="fa fa-calendar bigger-110"></i>
        </span>
    </div>
</div>
