@{ Layout = null; }
<div ng-controller="CustomerReturnCtrl">
    <form class="form-horizontal" role="form">
        <div class="page-header row">
            <div class="form-group">
                <div class="infobox infobox-orange2">
                    <div class="infobox-data">
                        <input ng-model="item.OrderId" ng-blur="filterProduct()" class="input-sm" type="text" placeholder="Product Code">
                        <div class="infobox-content">Invoice No</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <div>
                                    <div class="col-sm-2 no-padding-left">Products </div>
                                    <div class="col-sm-2">
                                        <select ng-model="item.ProductDetailId" id="product-returnReason" ng-change="filterSalesSelection()" class="select2" data-placeholder="Choose Product...">
                                            <option></option>
                                            <option ng-repeat="e in SalesDetails" value="{{e.ProductDetailId}}">{{e.ProductDetailId}} - {{e.ProductName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div>
                                    <div class="col-sm-2 no-padding-left">Reason </div>
                                    <div class="col-sm-2">
                                        <select ng-model="item.ReturnReasonId" id="product-returnReason" class="select2" data-placeholder="Choose Return Reason...">
                                            <option></option>
                                            <option ng-repeat="e in reasons" value="{{e.ReturnReasonId}}">{{e.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-6"></div>
                        <div class="col-sm-4">
                            
                        </div>
                       
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> No of Items </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue smaller">
                                        <span >{{item.DisplayQuantity}}</span>
                                    </h4>

                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Selling Price </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue smaller">
                                        <span>{{item.SellingPrice}}</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Net Amount </div>
                                <div class="profile-info-value">
                                    <h4 ng-if="item.StockInHand" class=" widget-title blue smaller">
                                        <span ng-if="item.StockInHand.Quantity > 0">{{item.StockInHand.Quantity}} {{item.StockAs}}s</span>
                                        <span>
                                            <span ng-if="item.StockInHand.QuantityActual > 0">{{item.StockInHand.QuantityActual}} {{item.Measure.Actual}}s</span>
                                            <span ng-if="item.StockInHand.QuantityLower > 0">{{item.StockInHand.QuantityLower}} {{item.Measure.Lower}}</span>
                                        </span>
                                    </h4>
                                </div>
                            </div>

                        </div>
                       

                        <div class="col-sm-8">

                            <div class="col-sm-3" ng-if="item.StockInHand.Quantity > 0">
                                <div class="row form-group">
                                    <div class="infobox infobox-green width-auto">
                                        <div class="infobox-data no-padding-right">
                                            <input ng-model="item.Quantity" ng-blur="calculatePrice()" class="input-mini" type="text">
                                            <div class="infobox-content">{{item.StockAs}}s</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row form-group">

                                    <div class="col-sm-8" ng-if="item.SellingLower">
                                        <div class=" form-group" ng-if="item.Measure.Actual">
                                            <div class="col-sm-5 no-padding-left">
                                                <div ng-if="item.Measure" class="infobox infobox-orange2 width-auto">
                                                    <div class="infobox-data width-auto">
                                                        <span class="infobox-data-number"><input ng-model="item.QuantityActual" ng-blur="calculatePrice()" class="input-mini" type="text" placeholder=""></span>
                                                        <div class="infobox-content">{{item.Measure.Actual}}s</div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3" ng-if="item.Measure.Lower != item.Measure.Actual">
                                                <div class="infobox infobox-orange2 width-auto">
                                                    <div class="infobox-data width-auto">
                                                        <span class="infobox-data-number"><input ng-model="item.QuantityLower" ng-blur="calculatePrice()" class="input-mini" type="text" placeholder=""></span>
                                                        <div class="infobox-content">{{item.Measure.Lower}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="space-6"></div>-->

                        <div class="col-sm-11">
                            
                            <div class="col-sm-8">
                                <table id="simple-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Toal Amount</th>
                                            <th>Amount Paid</th>
                                            <th>Total Due Amount</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>{{item.Price}}</td>
                                            <td><span ng-if="item.Discount">{{item.Discount}}</span> </td>
                                            <td>{{item.NetPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="space-6"></div>
                        <div class="col-sm-12 align-right">
                            <div class="col-md-offset-3 col-sm-8">
                                <button class="btn btn-app btn-yellow btn-xs" type="button" ng-click="add()">
                                    <i class="ace-icon fa fa-shopping-cart bigger-160"></i>
                                    Update
                                </button>
                            </div>
                        </div>
                    </div><!-- /.col -->

                </div><!-- /.row -->
                <div class="space"></div>
                <div class="hr hr-double hr-dotted hr18"></div>
            </div><!-- /.col -->
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('.select2').select2({ allowClear: true });
        $('#menu-tr').syncMenu([{ name: "customerReturn", option: "a" }]);
    });
</script>