@{ Layout = null; }
<div ng-controller="CustomerReturnCtrl">
    <form class="form-horizontal" role="form">
        <div class="page-header row">
            <div class="col-sm-8">
                <div class="col-xs-12 col-lg-4">
                    <div class="infobox infobox-orange2">
                        <div class="infobox-data">
                            <input ng-model="item.OrderId" ng-blur="filterProduct()" class="input-sm" type="text" placeholder="Enter Invoice No">
                            <div class="infobox-content">Invoice No</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="infobox infobox-black">
                        <div class="infobox-data">
                            <label>
                                <input name="switch-field-1" ng-model="item.SyncStock" class="ace ace-switch ace-switch-7" checked type="checkbox">
                                <span class="lbl">Update Stock</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <div>
                                    <div class="col-sm-2 no-padding-left">Products </div>
                                    <div class="col-sm-2">
                                        <select ng-model="item.ProductDetailId" id="product-returnReason" ng-change="filterSalesSelection()" class="select2" data-placeholder="Choose Product...">
                                            <option></option>
                                            <option ng-repeat="e in SalesDetails" value="{{e.ProductDetailId}}">{{e.ProductName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div>
                                    <div class="col-sm-2 no-padding-left">Reason </div>
                                    <div class="col-sm-2">
                                        <select ng-model="item.ReturnReasonId" id="product-returnReason" class="select2" data-placeholder="Choose Return Reason...">
                                            <option></option>
                                            <option ng-repeat="e in reasons" value="{{e.ReturnReasonId}}">{{e.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-6"></div>
                       
                            <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Item Quantity </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue smaller">
                                        <span >{{item.DisplayQuantity}}</span>
                                    </h4>

                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Sub Total </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue smaller">
                                        <span>Rs. {{item.Price}}</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Net Amount </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue smaller">
                                        <span>Rs. {{item.NetPrice}}</span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>
                        <div class="col-sm-8 no-padding-left">Enter Return Quantity </div>
                        <div class="col-sm-8">
                            <div class="row form-group">                                
                                <div class="col-sm-3" ng-if="item.Quantity > 0">
                                        <div class="infobox infobox-orange2 width-auto">
                                            <div class="infobox-data no-padding-right">
                                                <span class="infobox-data-number"><input ng-model="item.ReturnQuantity" ng-blur="calculateReturnPrice()" class="input-mini" type="text" placeholder="0"></span>
                                                    <div class="infobox-content">{{item.StockAs}}s</div>
                                            </div>
                                        </div>
                                </div>

                                <div class="col-sm-3" ng-if="item.QuantityActual > 0">
                                    <div class="infobox infobox-orange2 width-auto">
                                        <div class="infobox-data width-auto">
                                            <span class="infobox-data-number"><input ng-model="item.ReturnQuantityActual" ng-blur="calculateReturnPrice()" class="input-mini" type="text" placeholder="0"></span>
                                            <div class="infobox-content">{{item.Actual}}s</div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3" ng-if="item.QuantityLower > 0">
                                    <div class="infobox infobox-orange2 width-auto">
                                        <div class="infobox-data width-auto">
                                            <span class="infobox-data-number"><input ng-model="item.ReturnQuantityLower" ng-blur="calculateReturnPrice()" class="input-mini" type="text" placeholder="0"></span>
                                            <div class="infobox-content">{{item.Lower}}s</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>

                        
                    </div><!-- /.col -->


                    <div class="col-sm-5">

                        <span>Invoice # {{item.OrderId}}</span>
                        <table id="simple-table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Return Quantity</th>
                                    <th>Sub Total</th>
                                    <th class="hidden-480">Net Amount</th>
                                    <th>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-print bigger-120" ng-click="print()"></i>
                                            </button>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-print bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-check bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><span ng-if="item.Quantity > 0">{{item.ReturnQuantity}} {{item.StockAs}}s</span>
                                        <span>
                                        <span ng-if="item.QuantityActual > 0">{{item.ReturnQuantityActual}} {{item.Actual}}s</span>
                                        <span ng-if="item.QuantityLower > 0">{{item.ReturnQuantityLower}} {{item.Lower}}s</span>
                                        </span>
                                    </td>
                                    <td>{{item.returnPrice}}</td>
                                    <td class="hidden-480">
                                            {{item.returnNetPrice}}
                                    </td>
                                    <td>
                                        <div class="hidden-sm hidden-xs btn-group">
                                            <button class="btn btn-xs btn-info">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </button>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Net Amount </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue input-medium">
                                        {{item.returnNetPrice}}
                                    </h4>

                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Paid Amount </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue input-medium">
                                        <input ng-model="item.returnAmountPaid"  ng-blur="calculateReturnPrice()" class="widget-title blue input-large" type="text" placeholder="Amount Paid">
                                    </h4>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Change </div>
                                <div class="profile-info-value">
                                    <h4 class="widget-title blue input-medium">
                                        {{item.returnChangeAmount}}
                                    </h4>

                                </div>
                            </div>
                        </div>

                    </div>

                    

                    <div class="space-4"></div>
                    <div class="col-sm-12 align-right">
                        <div class="col-md-offset-3 col-sm-8">
                            <button class="btn btn-app btn-yellow btn-xs" type="button" ng-click="complete()">
                                <i class="ace-icon fa fa-shopping-cart bigger-160"></i>
                                Update
                            </button>
                        </div>
                    </div>

                </div><!-- /.row -->
                <div class="space"></div>
                <div class="hr hr-double hr-dotted hr10"></div>
            </div><!-- /.col -->
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('.select2').select2({ allowClear: true });
        $('#menu-tr').syncMenu([{ name: "customerReturn", option: "a" }]);
    });
</script>