@{
    ViewBag.Title = "CustomerReturn";
}
<div ng-app="trApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/tr/customerReturnController.js"></script>
<script type="text/javascript">
    $('#menu-tr').syncMenu([{ name: "customerReturn", option: "a" }]);
    trApp.config(['$routeProvider',
    function ($routeProvider) {
        $routeProvider.
             when('/', { templateUrl: '/CustomerReturn/Checkout', controller: 'CustomerReturnCtrl' })
            .otherwise({ redirectTo: '/' });
    }]);
</script>