@{
    ViewBag.Title = "Write Offs";
}
<div ng-app="trApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/tr/writeOffsController.js"></script>
<script type="text/javascript">
    $('#menu-tr').syncMenu([{ name: "writeOffs", option: "a" }]);
    trApp.config(['$routeProvider',
    function ($routeProvider) {
        $routeProvider.
             when('/', { templateUrl: '/WriteOffs/Checkout', controller: 'WriteOffsCtrl' })
            .otherwise({ redirectTo: '/' });
    }]);
</script>