@model Connecto.BusinessObjects.Employee
@{
    ViewBag.Title = "Employees";
}
<div ng-app="hrApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/hr/employeeController.js"></script>
<script type="text/javascript">
    $('#menu-hr').syncMenu([{ name: "employee", option: "a" }]);
    hrApp.config(['$routeProvider',
    function ($routeProvider) {
        $routeProvider.
             when('/', { templateUrl: '/Employee/List', controller: 'EmployeeListCtrl' })
            .when('/People/', { templateUrl: '/Employee/People', controller: 'EmployeePeopleCtrl' })
            .otherwise({ redirectTo: '/' });
    }]);
</script>