@{ Layout = null; }
<div ng-controller="EmployeeListCtrl">
    <a href="#/People/" class="btn btn-white btn-info btn-bold">
        <i class="ace-icon fa glyphicon-plus bigger-120 blue"></i>
        Assign Employee
    </a>
    <div>
        <table id="example" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>