@{ Layout = null; }
<div ng-controller="ProductListCtrl">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in products">
            <td>{{item.ProductId}}</td>
            <td>{{item.Name}}</td>
            <td>
                <div class="hidden-sm hidden-xs btn-group">
                    <a class="btn btn-xs btn-info" href="#/Edit/{{item.ProductId}}"><i class="ace-icon fa fa-pencil bigger-120"></i></a>
                    <a class="btn btn-xs btn-warning" href="#/{{item.ProductId}}"><i class="ace-icon fa fa-eye bigger-120"></i></a>
                    <a class="btn btn-xs btn-danger" href=""><i class="ace-icon fa fa-trash-o bigger-120"></i></a>
                </div>
            </td>
        </tr>
    </table>
</div>