@model Connecto.BusinessObjects.Product

@{
    ViewBag.Title = "Products";
}
<div class="page-header">
    <h1>Add Product </h1>
</div>
<div ng-app="productApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/purchasing/controllers.js"></script>
<script src="~/Scripts/connecto/purchasing/app.js"></script>
<script type="text/javascript">
    $('#menu-prod-main').syncMenu([{ name: "products", option: "a" }]);
</script>