@model Connecto.BusinessObjects.Product

@{
    ViewBag.Title = "Index";
}

<div ng-app="phonecatApp">
    <div ng-controller="PhoneListCtrl">

        <ul>
            <li ng-repeat="phone in phones">
                <span>{{phone.name}}</span>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>

    </div>
</div>
<script src="~/Scripts/connecto/purchasing/controllers.js"></script>