@{ Layout = null; }
<div ng-controller="ProductTypeEditCtrl">
    <div class="page-header">
        <h1>Edit Product Type </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-top"> Measure </label>
                    <div class="col-sm-9">
                        <ui-select ng-model="measure.selected" on-select="filterOrder($select.selected.OrderId)" theme="select2" ng-disabled="disabled" style="width: 180px;" title="Choose an order">
                            <ui-select-match allow-clear="true" placeholder="Select an order">{{$select.selected.Actual}}</ui-select-match>
                            <ui-select-choices repeat="e in measures | filter: {Actual: $select.search}">
                                <div ng-bind-html="e.Actual | highlight: $select.search"></div>
                                <small> {{e.Lower}} </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="hr hr-16 hr-dotted"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label no-padding-top"> Type </label>
                            <div class="col-sm-3">
                                <input ng-model="item.Type" type="text" id="form-field-6" placeholder="Volume">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label no-padding-top"> Stock As </label>
                            <div class="col-sm-3">
                                <input ng-model="item.StockAs" type="text" id="form-field-6" placeholder="Lower">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" ng-click="edit()">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#menu-csettings-main').syncMenu([{ name: "productType", option: "o", }], { title: 'Product Types', link: '/ProductType' });
    });
</script>