@model Connecto.BusinessObjects.ProductType
@{
    ViewBag.Title = "Products";
}
<div ng-app="cSettingApp">
    <div ng-view></div>
</div>
<script src="~/Scripts/connecto/csettings/productTypeController.js"></script>
<script type="text/javascript">
    $('#menu-csettings-main').syncMenu([{ name: "producttypes", option: "a" }]);
    cSettingApp.config(['$routeProvider',
    function ($routeProvider) {
        $routeProvider.
             when('/', { templateUrl: '/ProductType/List', controller: 'ProductTypeListCtrl' })
            .when('/Create/', { templateUrl: '/ProductType/Create', controller: 'ProductTypeNewCtrl' })
            .when('/Edit/:itemId', { templateUrl: '/ProductType/Edit', controller: 'ProductTypeEditCtrl' })
            .otherwise({ redirectTo: '/' });
    }]);
</script>